* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --aboutBg-Color: #FAEFF3;
    --nav-background-Color: #F3D8E2;
    --heading-Color: #323232;
    --contact-fonts-Color: #F3D8E2;
    --btns-Bg-Color: #D8F3FE;
    --Black-Color: rgb(19, 18, 18);
    --fonts-Color: #323232;
    --background-color: #F5FCFF;
}

html {
    scroll-behavior: smooth;
}

/* bottom to top button */

.scroll {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    background-color: #A53167;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 999;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

a:hover,
li:hover {
    color: #f31164ad !important;
    cursor: pointer !important;
    transition: all 0.50s;
}

.scroll:hover {
    background: rgba(0, 0, 0, 0.397);

}

/* navbar */

section {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-Color);
    padding: 30px 50px;
    top: 0;
    position: relative;
    z-index: 10000;
}

.nav-list ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-list ul li a {
    color: var(--fonts-Color);
    font-size: 1.25rem;
    font-weight: 400;
}

.hamburger {
    display: none;
    cursor: pointer;
}


.hamburger span {
    display: block;
    background-color: #080208;
    margin: 6px 0;
    width: 32px;
    height: 4px;
}

.hamburger span:nth-child(2) {
    width: 18px;
    background-color: hsla(300, 11%, 22%, 0.992);
}

/* Hero */

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

}

.hero-text {
    width: 100%;
    max-width: 750px;
}

.hero-logo {
    margin-bottom: 18px;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--heading-Color);
}

/* about */

.about-me {
    display: flex;
    width: 100%;
    min-height: 350px;
    background-color: var(--aboutBg-Color);
    flex-direction: column;
    align-items: center;

}

.about-heading {
    margin-top: 50px;
    font-size: 2.25rem;
    font-weight: 600;
}

.about-text {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
}

.about-text p {
    width: 100%;
    max-width: 1080px;
    font-size: 1.5rem;
    margin: auto;
    line-height: 1.2a;
    font-weight: 500;
}

/* About-me page */

.about-me-container {
    width: 100%;
    display: flex;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
}

.about-img img{
    width: 100%;
    max-width: 550px;
}
.about-main-text{
    width: 100%;
    max-width: 500px;
}

.about-main-text p{
    line-height: 1.6;
    font-size: 1.5rem;
    color: #07000ab7;
}

/* Portfolio */

.portfolio-container {
    width: 100%;
    height: 100%;
}

.portbg {
    width: 100%;
    min-height: 350px;
    background-image: url(../img/break_image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.port-heading h1 {
    font-size: 4rem;
    color: var(--aboutBg-Color);
    font-weight: 700;
}

.portfolio-wrapper-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.port_wrapper_inner_heading h1 {
    color: var(--Black-Color);
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 700;
}

.portfolio-Wrapper {
    width: 100%;
    max-width: 370px;
}

.portfolio-Wrapper p {
    margin: 30px 0;
    font-size: 1.75rem;
    line-height: 42px;
    width: 100%;
    max-width: 340px;
}

.portfolio-heading {
    background-color: #07000A;
    color: #F58200;
    font-size: 1.75rem;
    font-weight: 600px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.portfolio-heading.bg-color {
    background-color: var(--aboutBg-Color);
    color: #00485E;

}

button.port-btns {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--btns-Bg-Color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: var(--Black-Color);
    font-size: 1.875rem;
    font-weight: 600;
    cursor: pointer;
}

/* Resume */

.my-resume {
    width: 100%;
    min-height: 450px;
    background-image: url(../img/jason-goodman-Oalh2MojUuk-unsplash\ 1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 1;
}

.my-resume div {
    margin-right: 200px;
}

.my-resume::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/overlay.png);
    background-size: cover;
    z-index: -1;
}

.my-resume h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

/* Footer */

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #263439;
    flex-wrap: wrap;
    gap: 100px;
    padding: 32px 0;
     
 }

.contact-us {
    background-color: #263439;
    display: flex;
    justify-content: center;
    color: var(--contact-fonts-Color);
    position: relative;
    text-align: center;
}

.contact-text h4 {
    font-size: 1.75rem;
    font-size: 400;
}

.Social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.contact-text p {
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

.Contact_option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 100;
    flex-wrap: wrap;
}

.Contact_option a {
    color: inherit;
}

/* Contact form */

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

textarea::-webkit-input-placeholder {
    color: #999;
}

textarea:-moz-placeholder {
    color: #999;
}

textarea::-moz-placeholder {
    color: #999;
}

textarea:-ms-input-placeholder {
    color: #999;
}

button {
    outline: none !important;
    border: none;
    background: 0 0;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.bg-contact2 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: auto ;
    transition: all 0.50s;
}

@media (max-width:618px) {
    .form-container {
        width: auto;
    }
    .contact-container{
        gap: 0;
    }
    .Social_media{
       align-items: center;
    }
    
    }
    @media (max-width:1000px) {
      
        .contact-container {
            gap: 0;
        }
    
    
    }
    .container-contact2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #263439;
    }
    
    .wrap-contact2 {
        width: 100%;
        background: #fff;
        border-radius: 25px 0 25px 0;
        overflow: hidden;
        padding: 20px;
    }
    .contact-text-wrapper{
      color: #fff;
      text-align: center;
    }
    
    .contact2-form {
        width: 100%;
    } 
    
    .form-container{
        width: 100%;
         max-width: 400px;
    }
    
    .contact-img img{
        width: 200px;
        border-radius: 50%;
    }
    
    .contact2-form-title {
        display: block;
        font-family: Poppins-Bold;
        font-size: 39px;
        color: #A53167;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 70px;
    }
    
    .wrap-input2 {
        width: 100%;
        position: relative;
        border-bottom: 2px solid #adadad;
        margin-bottom: 37px;
    }
    
    .input2 {
        display: block;
        width: 100%;
        font-family: Poppins-Regular;
        font-size: 15px;
        color: #555;
        line-height: 1.2;
    }
    
    .focus-input2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 1;
    
    }
    
    .focus-input2::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #db1563;
        background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
        background: -o-linear-gradient(45deg, #d5007d, #e53935);
        background: -moz-linear-gradient(45deg, #d5007d, #e53935);
        background: linear-gradient(45deg, #d5007d, #e53935);
    }
    
    .focus-input2::after {
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-family: Poppins-Regular;
        font-size: 13px;
        color: #999;
        line-height: 1.2;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    input.input2 {
        height: 45px;
    }
    
    input.input2+.focus-input2::after {
        top: -5px;
        left: 0;
    }
    
    textarea.input2 {
        min-height: 115px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
    textarea.input2+.focus-input2::after {
        top: -5px;
        left: 0;
    
    }
    
    .input2:focus+.focus-input2::after {
        top: -13px;
    }
    
    .input2:focus+.focus-input2::before {
        width: 100%;
    }
    
    .has-val.input2+.focus-input2::after {
        top: -13px;
    }
    
    .has-val.input2+.focus-input2::before {
        width: 100%;
    }
    
    .container-contact2-form-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 13px;
    }
    
    .wrap-contact2-form-btn {
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 2px;
        width: auto;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .contact2-form-bgbtn {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100%;
        background-color:#A53167;
        top: 0;
        left: -100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .contact2-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 244px;
        height: 50px;
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
    }
    
    .wrap-contact2-form-btn:hover .contact2-form-bgbtn {
        left: 0;
    }
    
    .validate-input {
        position: relative;
    }
    
    .alert-validate::before {
        content: attr(data-validate);
        position: absolute;
        max-width: 70%;
        background-color: #fff;
        border: 1px solid #c80000;
        border-radius: 2px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        pointer-events: none;
        font-family: Poppins-Regular;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }
    
    .alert-validate::after {
        content: "\f12a";
        display: block;
        position: absolute;
        color: #c80000;
        font-size: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 8px;
    }
    
    .alert-validate:hover:before {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }

    @media (max-width: 1350px) {
        .about-me-container {
           flex-direction: column;
           text-align: center;
           gap: 10px;
        }
        .about-img img{
            max-width: 570px;
           
        }
        .about-main-text{
            width: 100%;
            max-width: max-content;
            padding: 0 20px;
        }
     
    }
    @media (max-width: 530px) {
        .about-main-text,
        .about-me-container{
            padding: 20px;
        }
        .about-img img {
            max-width: auto;
        }
    }
    @media (max-width: 400px) {
    
        .about-main-text p {
            font-size: 1.2rem;
        }
        .about-page-heading{
            text-align: center !important;
            margin-bottom:10px ;
        }
    }

@media (max-width: 1600px) {
    .hero-container {
        justify-content: center;
    }

    .hero-img {
        width: 100%;
        max-width: 500px;
    }

    .portfolio-wrapper-container {
        justify-content: space-evenly;
    }
}

@media (max-width: 1280px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        text-align: center;

    }

    .my-resume div {
        margin-right: unset;
    }

    .hero-logo.hide {
        display: none;

    }

    .hero-logo img {
        margin-bottom: 10px;

    }

    .hero-img {
        width: 100%;
        max-width: 500px;
    }

    .about-text p {
        max-width: 100%;
        padding: 0 20px;
    }

    .my-resume {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

}

@media (min-width: 1280px) {

    .hero-logo.hidden {
        display: none;

    }

}

@media (max-width: 992px) {
    .portfolio-wrapper-container {
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
    }

    .portfolio-Wrapper {
        text-align: center;
    }

    .port_wrapper_inner_heading h1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .nav-container {
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
    }

    .logo img {
        width: 180px;
    }

    .nav-list ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        position: relative;
        z-index: 10;
    }

    .nav-list {
        position: absolute;
        top: -500px;
        left: 0;
        width: 100%;
        z-index: 9;
        padding: 50px 0 30px 0;
        background-color: var(--nav-background-Color);

    }

    .nav-list.open {
        transition: all 0.37s;
        top: calc(100% - 100px);
    }

    .hamburger {
        display: block;
        z-index: 10;
        transition: 2s;
    }

    .hamburger.open span:first-child {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0, -11px) rotate(45deg);
    }

    .form-container {
        padding: 0 10px 0 10px;
    }
    .contact-text-wrapper {
        margin-top: 20px;
    }
}

@media (max-width: 618px) {
    .scroll {
        display: none !important;
    }

    .hero-img>img {
        max-width: 400px;
    }

    .hero-text>h1 {
        font-size: 2.5rem;
    }

    .about-text p {
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
    }

}

@media (max-width: 517px) {

    .logo img {
        width: 130px;
    }

    .about-me {
        min-height: 530px;
    }

    .about-heading {
        font-size: 32px;
        margin-top: 40px;
    }

    .hero-img>img {
        max-width: 400px;
    }

    .hero-text>h1 {
        font-size: 2.5rem;
    }

    button.port-btns {
        max-width: auto;
        font-size: 1.2rem;
        padding: 20px 10px;
    }

    .contact-option {
        font-size: 1rem
    }

    .Contact_option a {
        font-size: 1rem;
        max-width: auto;
    }

    .contact-text p {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .hero-img>img {
        max-width: 250px;
    }

    .logo {
        z-index: 2;
    }

    .hero-text>h1 {
        font-size: 1.5rem;
    }

    .nav-list ul li a {
        font-size: 1rem;
    }

    .about-text p {
        font-size: 1rem;
        margin: 20px 0;
    }


    .about-me {
        min-height: auto;
        text-align: center;
    }

    .my-resume {
        text-align: center;
        width: 100%;
    }

    h1.about-heading {
        text-align: center;
        margin-top: 40px;
        font-size: 1.4rem;
    }

    .portfolio-Wrapper img {
        max-width: 280px;
    }

    button.port-btns {
        width: 150px;
        font-size: 1.2rem;
        padding: 20px 10px;
    }

    .portfolio-Wrapper {
        margin: 0 20px;
    }

    .portfolio-Wrapper p {
        font-size: 1rem;
        margin: 20px 0;
    }

    .Social_media {
        flex-wrap: wrap;
    }
    
        .Social_media {
            gap: 10px;
        }
        .contact2-form-title{
            font-size: 2rem;
        }
        
    
    }